{% extends 'base.html' %}
{% load static %}

{% block head_content %}
    <title>Comments</title>
{% endblock %}

{% block container %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">
            <div class="form-group">
                <form method="POST" action="#"> {% csrf_token %}
                    {{form.text}}
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
        </div>
    </div>
</div>

{% endblock %}