{% extends "base.html" %}
{% load static %}

{% block head_content %}
    <title>Instagram Feed</title>
{% endblock %}

{% block container %}
    <div class="row">
        {% for post in posts %}
        <div class="col-lg-4 offset-lg-4">
<!--            profile user picture-->
            <div class="media">
                {% if post.profile.picture %}
                <img height="35" class="mr-3 rounded-circle" src="{{ post.profile.picture.url }}"  alt="{{ post.user.get_full_name }}">
                {% else %}
                <img height="35" class="mr-3 rounded-circle" src="{% static 'img/default-profile.png' %}"  alt="{{ post.user.get_full_name }}">
                {% endif%}
                <div class="media-body">
                    <h5 class="mt-0">{{ post.user.username }}</h5>
                    {{ post.created }}
                </div>
            </div>
            <img class="img-fluid mt-3 border rounded" src="{{ post.photo.url }}" alt="{{ post.title }}">
            <h6 class="ml-1 mt-1">{{ post.title }}</h6>
        </div>
        {% endfor %}
    </div>
{% endblock %}