{% extends 'base.html' %}

{% block head_content %} 
    <title>New post</title> 
{% endblock %}


{% block container %}
<div class="container">
    
    <div class="row justify-content-md-center">
        <div class="col-5 p-4" id="profile-box">

            <h4 class="text-center mt-3">Publish an image</h4>
<!--        New post form-->
            <form action="{% url 'create_post' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div>
                    <input type="hidden">
                </div>
                <div class="form-group col-sm-8 mx-auto mt-3">
<!--                 Hidden fields-->
                    {{ form.user}}
                    {{ form.profile}}
                    <label> Title :</label>
                        {{ form.title }}
                </div>

                <div class="form-group mt-3">
                    {{  form.photo }}
                </div>

            <!--Publish button-->
            <div class="d-grid gap-2 col-6 mx-auto" >
                <button class="btn btn-primary btn-block mt-3" type="submit" > Publish now </button>
            </div>
            </form>


        </div>
    </div>        
        
</div>
{% endblock %}