{% load static %}
{% load humanize %}
<div class="col-lg-4 offset-lg-4 ">
	<!--profile user picture-->
	{# style tag need to be fixed, and place to its proper file #}
	<div class="media mt-4"
		{% if request.path != '/' %}
				style="margin-top: 5em;"
		{% endif %}
	>

		{% if post.profile.picture %}
		
		<a href="{% url 'users:detail' username=post.profile.user.username %}">
			<img 
				height="35" class="mr-3 rounded-circle" src="{{ post.profile.picture.url }}"
				alt="{{ post.user.get_full_name }}"
			>
		</a>

		{% else %}
		
		<a href="{% url 'users:detail' username=post.profile.user.username %}">
			<img 
				height="35" class="mr-3 rounded-circle" src="{% static 'img/default-profile.png' %}"
				alt="{{ post.user.get_full_name }}" id="profilepic"
			>
		</a>

		{% endif%}

		<div class="media-body">
			<h5 class="mt-0">{{ post.user.username }}</h5>
		</div>
	</div>

	<!--   Post picture-->

	{% if request.path == '/' %}
	<a href="{% url 'posts:detail' pk=post.pk %}">
		{% endif %}
		<img class="img-fluid mt-3 border rounded" src="{{ post.photo.url }}" alt="{{ post.title }}" id="profilepic">
	</a>

	<!-- Like and comment icon -->
	<div>


		{% if request.user in post.likes.all %}
			<a href="{% url 'posts:likeordislikepost' post=post.pk instruction='rmv'%}" id="filledlike" onclick="filledLike()">
				<i class="fas fa-heart" id="liked"></i>
			</a>

		{% else %}
			<a href="{% url 'posts:likeordislikepost' post=post.pk instruction='like'%}" id="emptylike" onclick="emptyLike()">
				<i class="far fa-heart"></i>
			</a>
		{% endif %}

		<a href="{% url 'posts:create_comment' pk=post.pk %}">
			<i class="far fa-comment"></i>
		</a>

	</div>

	<div class="info">
		{% if post.likes.count > 0 %}
		<p> {{post.likes.count}} Likes</p>
		{% endif %}
		{% if post.title %}
		<h6 class="ml-1 mt-1">{{ post.title }}</h6>
		{% else %}
		<p></p>
		{% endif %}

		<p class="fw-lighter fst-italic small mt-2">
			{{ post.created|naturaltime }}
		</p>
	</div>

	{% if user == post.profile.user and request.path != '/' %}

	<a href="{% url 'posts:update' pk=post.pk %}" class="ml-5 btn btn-sm btn-outline-dark">
		Edit Title
	</a>

	<a href="{% url 'posts:delete' pk=post.pk %}" class="ml-5 btn btn-sm btn-outline-danger">
		Delete Post
	</a>
	{% endif %}


</div>