/media
__pycache__
.vscode/
.idea/
.triggers
.DS_Store
Pipfile
Pipfile.lock
mydatabase
staticfiles/
envvars.sh
posts/migrations
users/migrations
.gitignore
todos.txt
/data/db/**
**/migrations
testingrequirements.txt
chromedriver
instagram/settings.py
