/media
__pycache__
.vscode/
.idea/
.triggers
.DS_Store
Pipfile
Pipfile.lock
mydatabase
staticfiles/
envvars.sh
.gitignore
todos.txt
testingrequirements.txt
chromedriver
instagram/settings.py


# exeptions
posts/migrations/*
!posts/migrations/__init__.py
users/migrations/*
!users/migrations/__init__.py
data/db/**
!data/db/.gitkeep
