{% extends 'base.html' %}
{% load static %}
{% block head_content %}
    <title> @{{ user.username }}</title>
{% endblock %}

{% block container %}

{# style tag need to be fixed and placed to it's proper file #}
<div class="container mb-5" style="margin-top: 8em;">
        <div class="row">
            <!--profile picture username    -->
            <div class="col-sm-4 d-flex justify-content-center">
                {% if user.profile.picture %}
                <img
                    src="{{ user.profile.picture.url }}"
                    alt="@{{ user.username}}"
                    class="rounded-circle"
                    width="150px"
                />
                {% else %}
                <img
                    src="{% static 'img/default-profile.png' %}"
                    alt="@{{ user.username}}"
                    class="rounded-circle"
                    width="150px"
                />
                {% endif %}
            </div>

            <div class="col-sm-8 ">
<!--            Big profile name and edit or follow botton-->
                <h2 style="font-weight: 100;">
                    {{ user.username }}
                    {% if user == request.user %}
                        <a href="{% url 'users:update_profile' %}" class="ml-5 btn btn-sm btn-outline-dark">
                            Edit profile
                        </a>
                    {% else %}
                        <a href="" class="ml-5 btn btn-sm btn-primary">
                            Follow
                        </a>
                    {% endif %}
                </h2>

                <div class="row mt-2" style="font-size: 1.2em">
<!--                posts count-->

                    <div class="col-sm-4">
                        <b>{{ posts.count }}</b> Posts
                    </div>

<!--                following count-->
                    <div class="col-sm-4">
                        {% if user.profile.followsystem.following.count %}
                            <a href="#">
                                <b>{{ user.profile.followsystem.following.count }}</b>
                            </a>
                                Following

                        {% else %}
                            <b> 0 </b> Following
                        {% endif %}
                    </div>
<!--                followers count -->
                    <div class="col-sm-4">
                        {% if user.profile.followed_by.all.count %}
                            <a href="#">
                                <b>{{ user.profile.followed_by.count }}</b>
                            </a>
                                Followers

                        {% else %}
                            <b> 0 </b> Followers
                            {{ user.profile.followsystem.followed_by.count }}
                        {% endif %}
                    </div>
                </div>
                <div     class="row mt-4">
                    <div class="col-sm-12">
                        <p>{{ user.profile.biography }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="container" id="user-posts">
        <div class="row mt-3">
<!--        List username posts-->
            {% for post in posts %}
            <div class="col-sm-4 pt-5 pb-5 pr-5 pl-5 d-flex justify-content-center align-items-center">
                <a href="{% url 'posts:detail' pk=post.pk %}" class="border">
                    <img src="{{ post.photo.url }}" alt="{{ post.title }}" class="img-fluid"/>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
  {% endblock %}

