{% extends 'base.html' %}
{% load static%}
{% block head_content %}
    <title>Followers</title>
{% endblock %}

{% block container%}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-2 p-4" id="profile-box">
            {% for contact in users.profile.followers.all %}

                <div class="media">
                    {% if contact.profile.picture %}
                        <a href="{% url 'users:detail' username=contact.profile.user.username %}">
                            <img
                                 height="35" class="mr-3 rounded-circle"
                                 src="{{ contact.profile.picture.url }}"
                                 alt="{{ contact.profile.user.get_full_name }}"
                            >
                        </a>
                        {% else %}
                        <a href="{% url 'users:detail' username=contact.profile.user.username %}">
                            <img
                                height="35" class="mr-3 rounded-circle"
                                src="{% static 'img/default-profile.png' %}"
                                alt="{{ contact.profile.user.get_full_name }}"
                            >
                        </a>
                    {% endif %}
                        <div class="media-body">
                            <h6 class="mt-0">{{ contact.profile.user.username }}</h6>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}