{% extends 'base.html' %}
{% load static %}
{% block 'head_content %}
    <title>Update Profile</title>
{% endblock %}

{%  block container %}

{# Style tag need to be fixed and placed to it's proper file#}
<div class="form-group col-sm-4 mx-auto" style="margin-top: 6em;">

{% if form.errors %}
    <div class="alert alert-danger col-sm-10 mx-auto" role="alert" >
        {{ form.error }} {{ form.non_field_errors }}
    </div>
{% endif %}

    <div class="media">
        {% if  user.profile.picture %}
            <img src="{{ user.profile.picture.url }}" class="rounded-circle" height="50" />
        {% else%}
            <img src="{% static 'img/default-profile.png' %}" class="rounded-circle" height="50" />
        {% endif %}

        <div>
            <div class="media-body">
                <h5 class="ml-4">@{{ user.username }} | {{ user.get_full_name }}</h5>
                <p class="ml-4">
            </div>

            <form  method="POST" action="{% url 'users:update_profile' %}" enctype="multipart/form-data" >
                {% csrf_token %}
                {{ form }}

                <div class="d-grid gap-2 col-6 mx-auto" >
                    <button class="btn btn-primary btn-block mt-3" type="submit" > Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}